/vendor
/node_modules
Homestead.yaml
.env
/misc
/database/seeds/data/phys.csv
/database/seeds/data/zips-imprecise-lat-lon.csv
/database/seeds/data/cityzip.csv
/database/seeds/data/finda*.csv
/database/seeds/data/*premium*
/database/seeds/data/geocoded
/database/seeds/data/finda*.txt
/database/seeds/data/*.xls
/database/seeds/data/*.xlsx
*.swo
*.swp
