/vendor
/node_modules
Homestead.yaml
.env
/misc
/database/seeds/data/phys.csv
/database/seeds/data/zips-imprecise-lat-lon.csv
/database/seeds/data/cityzip.csv
/database/seeds/data/finda*.csv
*.swo
*.swp
